.toska{
	background:#69d2e7;
}

.toskamuda{
	background:#a7dbd8;
}

.abu-cerah{ 
	background-color:#F8F8F8;
}


.putihabu{
	background-color:#f3f3f3;
}

.putih2{
	background-color:#fbfbfb;
}

.ungu {
	background-color:#673499;
}

.pink {
	background-color:#da3aa5;
}

.biru{
	background-color:#009ad7;
}
.birumuda{
	background-color:#29aadd;
}
.abuputih{
	background-color:#E2E2E2;
}
.abubiru{
	background-color:#64aedf;
}


.orange{
	background-color:#ffaa31;
}

.hitamfull{
	background-color:#000000;
}

.hitam{
	background-color:#474747;
}

.hitammuda{
	background-color:#222222;
}

.hitamtua{
	background-color:#1c1c1c;
}

.hitamputih{
	background-color:#353535;
}

.merah{
	background-color:#ff5252;
}

.merahmuda{
	background-color:#fb8b8b;
}

.hijau{
	background-color:#a5d267;
}

.hijautua{
	background-color:#55b855;
}


.hijauhitam{
	background-color:#2b6133;
}

.hijauputih{
	background-color:#c9ed98;
}

.hijauputihabu{
	background-color:#ecf7de;
}

.kuning{
	background-color:#eae11a;
}

.kuninggelap{
	background-color:#fcdb00;
}

.kuningputih{
	background-color:#faf3c3;
}

.abu{
	background-color:#cdcdcd;
}

.abugelap{
	background-color:#8b8b8b;
}

.coklat{
	background-color:#dfb470;
}

.pinkmuda{
	background-color:#D874DA;
}

.putih{
	background-color:#FFFFFF;
}

